body {
    font-family: Arial, sans-serif;
    background-image: url('ESC_Main_Visual.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 20px;
    text-align: center;
}


input {
    padding: 8px;
    margin: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#app {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #1e0059, #4b0082);
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}
